.mainContainer {
  padding-top: 2rem;
  justify-content: space-evenly;
  max-width: 977px;
}
.animationContainer {
  animation: slideIn 0.3s forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
